# Entornos virtuales
venv/
.env
.venv

# Archivos compilados en Python
__pycache__/
*.py[cod]
*$py.class

# Modelos y pesos entrenados
models/
!src/models/

# Registros (Logs)
logs/

# Entornos de desarrollo o herramientas extra
.vscode/
.idea/
.ipynb_checkpoints/

# Documentación
doc/
!doc/sections/
!doc/figures/
!doc/main.tex
!doc/references.bib
!doc/main.pdf
