# Entornos virtuales
venv/
.env
.venv*

# Archivos compilados en Python
__pycache__/
*.py[cod]
*$py.class

# Modelos y pesos entrenados
models/
!src/models/
yolo*

# Registros (Logs)
logs/
pipeline_test/
paddleocr_gb_visual/

# Entornos de desarrollo o herramientas extra
.vscode/
.idea/
.ipynb_checkpoints/

# Documentación
doc/*.aux
doc/*.out
doc/*.log
doc/*.toc
doc/*.bbl
doc/*.blg
doc/*.synctex.gz
doc/*.gz
doc/*.bcf
doc/*.f*
doc/*.l*
doc/*.xml

